.chip{
    font-size: var(--font-size-small);
    background-color: var(--color-violet-light);
    border: 1px solid var(--color-violet-dark);
padding: 5px 5px;
border-radius: 10px;
color: var(--color-violet-dark);
}