.container{
    display: flex;
   align-items: flex-start;
    }

.side-nav{
      flex: 0 0 5%;
      position: sticky;
      top: 0;
      height: 95vh;
    }

.c1{
  flex: 1;
  height: fit-content;
}

.content{
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 10px;
}

.content-header{
  display: flex;
  justify-content: space-between;

  span{
    font-size: --var(--font-size-large);
  }
}
    
.content-graph-container{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;

}

.content-table{
 
}

  .content-header-icons{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  fa-icon{
    color: var(--color-gray-dark);
  }

  