<div class="container">
    <div class="side-nav">
      <app-side-navigation></app-side-navigation>
    </div>
    <div class="c1">
    <div class="content">
        <div class="content-header">
        <span>
           Welcome back, Olivia
        </span>
<div class="content-header-icons">
    <fa-icon icon="magnifying-glass"></fa-icon>
    <app-detailed-button >
        <fa-icon icon="sliders"></fa-icon>
        Customize
    </app-detailed-button>
    <app-detailed-button >
        <fa-icon icon="cloud-arrow-down"></fa-icon>
        Export
    </app-detailed-button>
</div>
</div>

<div class="content-graph-container">
<app-bar-chart ></app-bar-chart>
<app-doughnut-chart ></app-doughnut-chart>
</div>

<div class="content-table">
<app-grid-data></app-grid-data>

</div>
        
    </div>
</div>
</div>
    