.back-drop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-back-drop);
    z-index: 50;
}

.content{
    position: fixed;
    top: 30vh;
    left: 20vw;
    width: 60vw;
    padding: 16px;
    background: white;
    z-index: 100;
    box-shadow: 0 2px 8px var(--color-gray-dark);
}

p{
    font-size: var(--font-size-medium);
    color:var(--color-gray-dark);
    text-align: center;
}