.header{
    border: 2px solid var(--color-gray-light-2);
    padding: 8px 12px;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.content{
      border: 2px solid var(--color-gray-light-2);
}

.footer{
    border: 2px solid var(--color-gray-light-2);
    padding: 8px 12px;
    border-radius: 0 0 10px 10px;
    border-top: none;
}