.container{
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: black;
   // overflow: scroll;
}
.a{
    height: 1200px;
    background-color: green;
}
.b{
    height: 200px;
    background-color: red;
}
.c{
    height: 200px;
    background-color: blue;
}