<div class="container">
    <div class="container-nav">
        <fa-icon icon="camera"></fa-icon>
        <fa-icon icon="house"></fa-icon>
        <fa-icon icon="square-poll-vertical"></fa-icon>
        <fa-icon icon="layer-group"></fa-icon>
        <fa-icon icon="square-check"></fa-icon>
        <fa-icon icon="chart-pie"></fa-icon>
        <fa-icon icon="user-group"></fa-icon>
    </div>
    <div class="container-prof">
        <fa-icon icon="circle-user"></fa-icon>
        <fa-icon icon="gear"></fa-icon>
        <fa-icon icon="camera"></fa-icon>
    </div>
</div>

