@import 'src/mixin.scss';

:host(:hover){
    cursor: pointer;
    background-color: var(--color-gray-light-2) ;
}

:host{
    border: 2px solid var(--color-gray-light-2);
    padding: 8px 12px;
    border-radius: 10px;
    @include flex-centre;
    gap: 5px;
}

:host ::ng-deep{
    color: var(--color-gray-dark);
    font-size: .8rem;
}