.header{
display: flex;
gap: 10px;
align-items: center;

&-title{
    display: flex;
    flex-direction: column;

    &-main{
        font-size: var(--font-size-medium);
    }

    &-sub{
        font-size: var(--font-size-small);
    }
    }
}

.content{
    font-size: var(--font-size-small);
    color: rgba(150, 56, 212, 0.3)
}


.footer{
    display: flex;
    justify-content: flex-end;
}


canvas{
    width: clamp(50vw, 68vw, 70vw)
}