@mixin flex-centre{
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin table-cell-flex-centre{
    display: flex;
    align-items: center;
    gap: 5px;
}

@mixin table-cell-font{
    font-size: var(--font-size-small);
    color:var(--color-gray-light-1);
}

@mixin image-preview-alt{
    font-size: var(--font-size-medium);
    padding: 2px;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--color-gray-light-2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-gray-light-1);
}