/* You can add global styles to this file, and also import other style files */
:root{
    --color-primary:black;
    --color-gray-dark:#696e77;
    --color-gray-light-1:rgb(157, 157, 166,1);
    --color-gray-light-2:rgb(212, 209, 209);
    --color-green-dark:#44805b;
    --color-green-light:#64b77f;
    --color-violet-dark:#7958d2;
    --color-violet-light:#d1c5f0;
    --color-blue-dark:#567dd6;
    --color-blue-light:#c7def5;
}

body{
    font-family:   sans-serif;
    }