<app-card>
    <div class="header">
            <span class="header-main">Vendors monitored</span>
            <span class="header-sub">You're using 80% available spots.</span>
        
    </div>
    <div class="content">
    <canvas baseChart
        [labels]="doughnutChartLabels"
        [datasets]="doughnutChartDatasets"
        [options]="doughnutChartOptions"
        [legend]="true"
        [type]="'doughnut'"
        height="150px">

</canvas>
<div class="notice">
        <p class="notice-title">You've alomost reached your limit</p>
        <p class="notice-message">You've used 80% of your available spots. Upgrade plan to monitor more vendors.</p>
</div>
</div>
<div class="footer">
    <app-detailed-button>
     
            <fa-icon icon="bolt"></fa-icon>
            <span>Upgrade plan</span>
    
    </app-detailed-button>
</div>
</app-card>