.header{
    display: flex;
    flex-direction: column;

    &-main{
        font-size: var(--font-size-medium);
        color:  var(--color-primary);;
    }

    &-sub{
        font-size: var(--font-size-small);
        color: var(--color-gray-light-1);
    }
}

.footer{
    display: flex;
    justify-content: flex-end;
}

canvas{
    width: clamp(15vw, 23vw, 35vw)
}

.notice{
    height: 50px;
    padding: 0 10px 10px 10px;
    &p{
        margin: 0;
    }

    &-title{
      font-size: var(--font-size-medium-2);
      color: var(--color-gray-dark-2);  
    }

    &-message{
        font-size: var(--font-size-small);
        color: var(--color-gray-light-1);  
      }
}